Dictionaries

In [1]:
d = {'key1':'item1', 'key2':'item2'}
d['key1']

SyntaxError: invalid syntax (3031298547.py, line 1)

In [2]:
d['key1']

NameError: name 'd' is not defined

In [3]:
d{'key1'}

SyntaxError: invalid syntax (492302667.py, line 1)

In [4]:
d

NameError: name 'd' is not defined

In [5]:
d = {'key1':'item1', 'key2':'item2'}

In [6]:
d

{'key1': 'item1', 'key2': 'item2'}

In [7]:
d['key1']

'item1'

In [8]:
d['item1]

SyntaxError: unterminated string literal (detected at line 1) (3672090203.py, line 1)

In [9]:
d['item1']

KeyError: 'item1'

In [10]:
True

True

Tuples : List와 비슷하지만 값 변경 불가

In [11]:
t = (1, 2, 3)
t

(1, 2, 3)

In [12]:
t[0] = ""New

SyntaxError: invalid syntax (3057392261.py, line 1)

In [13]:
t[0] = "New"

TypeError: 'tuple' object does not support item assignment

In [14]:
t[0]

1

Sets : 집합이다, 중복 제거에 용이함

In [15]:
{1, 2, 2, 2, 3,3, 4, 2, 3, 3}

{1, 2, 3, 4}

comparsion Operators : 비교 연산자 (대소 관계)

In [16]:
1 > 2

False

In [17]:
1 < 3

True

In [18]:
1 == 2

False

Logic Operators : and, or 사용  and : 둘 다 참일 때, or : 둘 중 하나라도 참일 때, 플러터에서  && || 동일

In [19]:
(1 > 2)and(2< 3)

False

In [20]:
(2 < 3)and(3< 4)

True

In [21]:
(2> 3)or(4 == 4)

True

In [22]:
(2 == 2)or(3 == 3)

True

if, elif (else if), elst Statement

In [23]:
if 1<2

SyntaxError: expected ':' (248351015.py, line 1)

In [24]:
if 1<2
  print('ok')

SyntaxError: expected ':' (3103964559.py, line 1)

In [25]:
if 1<2;
  print('Wow')

SyntaxError: invalid syntax (2861941230.py, line 1)

In [26]:
if 1 < 2:
    print('Wow')

Wow

In [27]:
if 2 > 3:
    print("real?")
else:
    print("no")

no

In [28]:
if 2 > 3 :
    print('2')
elif 2 == 3:
    print('3')
else : 
    print('success')

success

In [29]:
if 1> 3:
    print('no')
elif 2 > 1:
    print('yes')
else :
    print('go')

yes

for Loops : for, in 사용    ennumerate -> index 값과 같이 출현

In [32]:
seq = ['a','b','c','d']
for item in seq

SyntaxError: expected ':' (2929828977.py, line 2)

In [31]:
for x in seq:
    print(x)

NameError: name 'seq' is not defined

In [33]:
for x in seq:
    print(x)

NameError: name 'seq' is not defined

In [35]:
seq = ['a','b','c','d','e']
for x in seq:
    print(x)

a
b
c
d
e

In [ ]:
list(enumerate(seq))

In [1]:
a = 1
b = 2
print(a + b)

3

range -> 범위

In [2]:
range(5)

range(0, 5)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

list comprehension : 리스트를 제곱으로 하고싶을 때 (영어로 생각하면 편함)

In [5]:
x = [1, 2, 3, 4]
out = []
for item in x:
    out.append(item**2)
    print(out)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]

In [6]:
x = [1, 2, 3, 4,5]

out = []
for i in x:
    out.append(i**2)
    print(out)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [7]:
[i**2 for i in x]

[1, 4, 9, 16, 25]

functions = def라는 이름으로 함수를 짠다

In [8]:
def my(x, y):
    result = x * y + 1

In [9]:
def my(x, y):
    result = x * y + 1
    return result

my(19, 20)

381

lambda expressions : 람다, 익명함수

In [10]:
def item2(x):
    return x * 2

In [11]:
item2(100)

200

In [12]:
(lambda x:x*10)(10)

100

map and filter : 맵핑

In [13]:
seq = [1, 2, 3, 4, 5]
list(map(items2, seq))

NameError: name 'items2' is not defined

In [14]:
seq = [1, 2, 3, 4, 5]
list(map(times2, seq))

NameError: name 'times2' is not defined

In [15]:
seq = [1, 2, 3, 4, 5]

In [16]:
list(map(times2, seq))

NameError: name 'times2' is not defined